body {
    background-color: rgb(247, 165, 165);
    font-family: Arial, sans-serif;
}

#body {
    margin: auto;
    width: 80%;
    border: 10px solid rgb(154, 231, 255);
    background-color: rgb(191, 225, 248);
    text-align: center;
    padding: 10px;
}

.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}solidcolor