body {
    background-color: rgb(210, 216, 216);
    font-family: Arial, sans-serif;
}

#body {
    margin: auto;
    width: 80%;
    background-color: rgb(225, 235, 235);
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}