html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(218, 236, 252);
    justify-content: center;
    align-items: center;
}

h1{
    font-size: x-large;
}

.header{
    display: flex;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background: rgba(240, 248, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: 1px solid aliceblue;
}



#header-nav{
    padding-right: 1px;
}

a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

#login {
    background: linear-gradient(to right,rgb(25, 174, 25), rgb(0, 128, 0));
    color: aliceblue;
    padding: 8px 15px;
    border-radius: 16px;
}

#login:hover{
    background: linear-gradient(to right,rgb(120, 210, 120), rgb(101, 196, 101))
}

.img{
    width: 100%;
    max-width: 550px;
    height: auto;
}

#home{
    left: 50%;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#pre-content{
    margin: 5px 10px;
    text-align: left;
}

#read-more-btn {
    background: linear-gradient(to right,rgb(25, 174, 25), green);
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
}

#div-read-more-btn{
    display: flex;
    justify-content: flex-end;
}

.about-tab{
    color:darkgray
}
#about-head h2, #about-head p{
    margin: 0;
}
#about-head{
    display: flex;
    flex-direction: column;
}

#logo{
    align-content: center;
}

#content{
    background-color: antiquewhite;
    max-width: 500px;
    height: 500px;
}

#main-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height:100%;
    max-height: 500px;
}
